
.user {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  display: none;
  position: absolute;
}

.user:hover .user-dropdown {
  display: block;
}

img {
  max-width: 500px;
  max-height: 500px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navbar {
  display: flex;
  gap: 10px;
}
.navlink,
.navlink>a {
  color: cornsilk;
  background-color: darkslateblue;
  border: none;
  text-decoration: none;
}
.navlink:hover,
.navlink:hover>a  {
  background-color: slateblue;
}
.navlink:active,
.navlink:active>a {
  background-color: darkslategray;
}